<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GameFace.cz | Vyladěné doplňky a dekorace</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Revoluční obchod který přinese mnoho vyladěných doplňků a dekorací do tvého interiéru.">
    <meta name="keywords" content="gameface, obraz, plátno, paraván, tapeta, led, revoluční, interiér, dekorace">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <!--
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <link rel="manifest" href="site.webmanifest">
    -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">
<main class="page-wrapper">
    <section class="mb-lg-2 bg-faded-accent bg-size-cover" style="padding-top: 80px; background-image: url(img/art/home/hero-bg.png);">
        <div class="container py-4">
            <div class="row align-items-center justify-content-center gy-3 py-3 text-lg-start text-center">
                <div class="col-lg-5 col-md-8 col-sm-10">
                    <h1 class="mb-4 pb-lg-2">Již brzy budeme spouštět, buď u toho!</h1>
                    <p class="mb-lg-5 mb-4 fs-lg">Revoluční obchod který přinese mnoho vyladěných doplňků a dekorací do tvého interiéru.</p>
                    <div class="d-lg-flex d-none flex-sm-row flex-column justify-content-lg-start justify-content-center"><a class="btn btn-lg btn-accent me-sm-3 mb-sm-3 mb-2" href="#">O našem projektu</a></div>
                </div>
                <div class="col-lg-6 col-md-8 offset-lg-1 col-sm-10">
                    <!-- Top auctions carousel-->
                    <div class="tns-carousel tns-nav-enabled mb-4 mx-n2">
                        <div class="tns-carousel-inner" data-carousel-options='{"controls": false, "autoplay": true}'>
                            <!-- Carousel item-->
                            <div class="px-2"><img class="rounded-3" src="img/art/home/01.jpg" alt="Product"></div>
                            <div class="px-2"><img class="rounded-3" src="img/art/home/02.jpg" alt="Product"></div>
                            <div class="px-2"><img class="rounded-3" src="img/art/home/03.jpg" alt="Product"></div>
                        </div>
                    </div>
                    <div class="d-lg-none d-flex flex-sm-row flex-column justify-content-lg-start justify-content-center"><a class="btn btn-lg btn-accent me-sm-3 mb-2" href="#">O našem projektu</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product carousel (Recent Drops)-->
    <section class="container mb-2 py-lg-5 py-4">
        <div class="d-flex align-items-center justify-content-between mb-sm-3 mb-2">
            <h2 class="h3 mb-0">Co se chystáme dropnout?</h2>
        </div>
        <!-- Product carousel-->
        <div class="tns-carousel tns-controls-static tns-controls-outside mx-xl-n4 mx-n2 px-xl-4 px-0">
            <div class="tns-carousel-inner row gx-xl-0 gx-3 mx-0" data-carousel-options="{&quot;items&quot;: 2, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1,&quot;controls&quot;: false, &quot;gutter&quot;: 0},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3}, &quot;1100&quot;:{&quot;items&quot;:4}, &quot;1278&quot;:{&quot;controls&quot;: true, &quot;nav&quot;: false, &quot;gutter&quot;: 30}}}">
                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0 shadow">
                        <div class="card-img-top position-relative overflow-hidden"><a class="d-block" href="#"><img src="img/art/catalog/01.jpg" alt="Product image"></a>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" href="#">Limitované AI motivy</a></h3>
                        </div>
                    </article>
                </div>

                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0 shadow">
                        <div class="card-img-top position-relative overflow-hidden"><a class="d-block" href="#"><img src="img/art/catalog/02.jpg" alt="Product image"></a>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" href="#">Akustické paravány</a></h3>
                        </div>
                    </article>
                </div>

                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0 shadow">
                        <div class="card-img-top position-relative overflow-hidden"><a class="d-block" href="#"><img src="img/art/catalog/03.jpg" alt="Product image"></a>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" href="#">Unikátní kolekce a kolaborace</a></h3>
                        </div>
                    </article>
                </div>

                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0 shadow">
                        <div class="card-img-top position-relative overflow-hidden"><a class="d-block" href="#"><img src="img/art/catalog/02.jpg" alt="Product image"></a>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" href="#">Nadstandardní rozměry obrazů</a></h3>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Features-->
    <div class="bg-secondary">
        <section class="container py-lg-5 py-4">
            <h2 class="mb-4 pb-md-3 pb-2">Co vlastně připravujeme?</h2>
            <!-- Features carousel-->
            <div class="tns-carousel mb-4">
                <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;nav&quot;: true, &quot;gutter&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1,&quot;controls&quot;: false},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3}, &quot;1100&quot;:{&quot;items&quot;:4}, &quot;1278&quot;:{&quot;controls&quot;: true}}}">
                    <!-- Carousel item-->
                    <div><img class="mb-4" src="img/art/features/wallet.svg" width="60" alt="Icon">
                        <h4 class="mb-2 fs-lg text-body">Milujeme AI technologii</h4>
                        <p class="mb-0 fs-sm text-muted">Naše vášeň pro umělou inteligenci nás pohání k tomu, abychom pro tebe vytvořili sofistikovaný editor na tvorbu designů, který dokáže vykouzlit tvůj výtvor přesně podle tvé fantazie. Můžeš se těšit na stvoření absolutně unikátního produktu, který bude jediný ve svém druhu - a ty budeš jeho jediným majitelem! Postě WOW!</p>
                    </div>
                    <!-- Carousel item-->
                    <div><img class="mb-4" src="img/art/features/add.svg" width="60" alt="Icon">
                        <h4 class="mb-2 fs-lg text-body">Unikátni kolekce</h4>
                        <p class="mb-0 fs-sm text-muted">Naším cílem je zaangažovat ty, kdo vám dokážou přinést radost a zábavu. Jsme připraveni se spojit s influencery a kreativci, kteří s námi vytvoří obsah, do kterého se zamilujete na první pohled. Naše spolupráce přináší svěží nápady a originální tvorbu, která vás jistě nadchne.</p>
                    </div>
                    <!-- Carousel item-->
                    <div><img class="mb-4" src="img/art/features/image.svg" width="60" alt="Icon">
                        <h4 class="mb-2 fs-lg text-body">Nechej si vytisknou vlastní motiv</h4>
                        <p class="mb-0 fs-sm text-muted">Oživ své nezapomenutelné vzpomínky a zážitky se přáteli s naší dokonalou službou! Stojíme připraveni poskytnout ti plnou kvalitu a vybavení, které předčí tvé očekávání. V našem připravovaném editoru můžeš vybírat z mnoha prémiových materiálů a široké škály rozměrů. Vytvoříme mistrovské dílo, které zvěční ty nejcennější okamžiky tvého života.</p>
                    </div>
                    <!-- Carousel item-->
                    <div><img class="mb-4" src="img/art/features/shopping-cart.svg" width="60" alt="Icon">
                        <h4 class="mb-2 fs-lg text-body">Unikátnost v produktech</h4>
                        <p class="mb-0 fs-sm text-muted">Nejsme jen další hráči na trhu, jsme unikátní v tom, jak přistupujeme a realizujeme své nápady. Naše produkty jsou tvořeny z prémiových materiálů, vyznačují se českou ruční prací a jsou výsledkem týmu kreativních týpků. Díky tomu naše výrobky patří k těm nejlepším, co trh nabízí.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Bg shape-->
<div class="pt-4 bg-secondary">
    <!-- Mail subscription-->
    <section class="container">
        <div class="card py-5 border-0 shadow">
            <div class="card-body py-md-4 py-3 px-4 text-center">
                <h3 class="mb-3">Never miss a drop!</h3>
                <p class="mb-4 pb-2">Neriskuj že zmeškáš dropy nových kolekcí a slev. Zadej email a buď safe!</p>
                <div class="widget mx-auto" style="max-width: 500px;">
                    <form class="subscription-form validate" action="" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="input-group flex-nowrap"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Tvůj email" required>
                            <button class="btn btn-accent" type="submit" name="subscribe">Odebírej!</button>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                        </div>
                        <div class="form-text mt-3">* vyplněním emailu potvrzuješ souhlas novinkám a slevám</div>
                        <div class="subscription-status"></div>

                        <div class="mt-4">
                            <span class="p-3"><a href="https://www.facebook.com/profile.php?id=100093153183807" target="_blank" class="btn-social bs-outline bs-facebook bs-lg">
                                    <i class="ci-facebook"></i>
                                </a></span>

                            <span class="p-3"><a href="https://www.instagram.com/gameface_cz/" target="_blank" class="btn-social bs-outline bs-instagram bs-lg">
                                    <i class="ci-instagram"></i>
                                </a></span>

                            <span class="p-3"><a href="https://www.youtube.com/channel/UCBrpQmIy4Xy2neAU8DU7NxA" target="_blank" class="btn-social bs-outline bs-youtube bs-lg">
                                    <i class="ci-youtube"></i>
                                </a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer-->
<footer class="footer bg-darker">
    <div class="mt-n10 pt-10 bg-dark">
        <div class="container py-5">
        </div>
    </div>
</footer>

<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="vendor/simplebar/dist/simplebar.min.js"></script>
<script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<!-- Main theme script-->
<script src="js/theme.min.js"></script>
</body>
</html>
