{% extends 'base.html.twig' %}

{% block title %}GameFace.cz{% endblock %}

{% block full_content %}
    <div class="coming-soon">
        <h1>GameFace</h1>
        <h2>Již brzy budeme spouštět, buď u toho!</h2>
        <p>
            Revoluční obchod který přinese mnoho vylaďených doplňků a dekorací do tvého interiéru.
        </p>
    </div>
{% endblock %}
